
    <div class="row p-5 d-flex justify-content-around align-items-center m-0  bg g-5 g-lg-2  text-white text-center">
        <div class="col-12 col-lg-3">
         
            <div class="card">
                <div class="card-body">
                    <h3>LOCATION</h3>
                    <p class="m-0">2215 John Daniel Drive
            
                    </p>
                    <p class="m-0">Clark, MO 65243
            
                    </p>                </div>
              </div>
        </div>
        <div class="col-12 col-lg-3 d-flex flex-column  ">
            <div class="card">
                <div class="card-body">
                    <h3 class="">AROUND THE WEB </h3>
            
                    <div class="icons"><i class="fa-brands fa-facebook mx-1 icon"></i><i class="fa-brands fa-twitter mx-1 icon"></i><i class="fa-brands fa-linkedin-in mx-1 icon"></i><i class="fa-solid fa-globe mx-1 icon"></i>                </div>
              </div>
           
    </div>
    <br/>
        </div>

        <div class="col-12 col-lg-3">
           
            <div class="card">
                <div class="card-body">
                    <h3>ABOUT FREELANCER
                    </h3>
                 
                    <p>Freelance is a free to use, licensed Bootstrap theme created by Route
                    </p>                </div>
              </div>
   
        </div>
    </div>
    <div class="sec-bg text-center p-4 text-white">
        <p>Copyright © Your Website 2024</p>
    </div>
