<div class=" contact text-color ">
    <div class="text-center d-flex flex-column justify-content-center align-items-center ">
       
        <h1 class="text-uppercase fw-bold pt-3">
            conatct section
        </h1>
        <div class="d-flex text-center justify-content-center align-items-center text-color">
            <div class="line me-2"></div>
            <div class="fa-solid fa-star"></div>
            <div class="line ms-2"></div>
        </div>
        <form  action="" class="w-50 p-3 mx-auto mt-5 my-3 ">
            <input id="userName" type="text" placeholder="userName" name="userName" class="form-control border-0 border-bottom py-3 my-3  my-3 ">
            <input id="userAge" type="text" placeholder="userAge" name="userName" class="form-control border-0 border-bottom py-3  my-3 ">
            <input id="userEmail" type="text" placeholder="userEmail" name="userName" class="form-control border-0 border-bottom py-3  my-3 ">
            <input id="userPassword" type="text" placeholder="userPassword" name="userName" class="form-control border-0 border-bottom py-3  my-3 ">
            <button class="btn mt-4 text-white" style="background-color: #1abc9c;"> send Message </button></form>
    </div>
</div>
