<div class=" contact text-color ">
    <div class="text-center d-flex flex-column justify-content-center align-items-center py-4 ">
       
        <h1 class="text-uppercase fw-bold ">
            Gallery section
        </h1>
        <div class="d-flex text-center justify-content-center align-items-center text-color">
            <div class="line me-2"></div>
            <div class="fa-solid fa-star"></div>
            <div class="line ms-2"></div>
        </div>
        <div class="row w-100 p-5 pb-2 g-3">
           @for (x of productList; track $index) {
            <div class="card" class="col-md-4 p-2 col-12 border-2 rounded-3  p-0">
                <img [src]="x.pimg" class="card-img-top rounded-top-3 w-100" alt="...">
                <div class="card-body p-2 rounded-bottom-3 bg-warning">
                  <h5 class="card-title fw-bolder">{{x.pname}}</h5>
                  <p class="card-text"> The category is : {{x.pcat}}<br>
                    The Price is : {{x.pprice}}
                  </p>
                </div>
              </div>
           }
        </div>

        <div #h2 class="w-50 mx-auto shadow-lg  bg-danger text-center py-2 mb-2 mt-0 rounded-pill text-uppercase  "> <h2 class="fw-bolder text-white" >recommended Products</h2> </div>

        @defer (on viewport(h2)) 
        {
            <app-recommended></app-recommended>
        }
      
    </div>
</div>
