<div class=" contact text-color ">
    <div class="text-center d-flex flex-column justify-content-center align-items-center ">
       
        <h1 class="text-uppercase fw-bold pt-3">
            portfolio  component
        </h1>
        <div class="d-flex text-center justify-content-center align-items-center text-color">
            <div class="line me-2"></div>
            <div class="fa-solid fa-star"></div>
            <div class="line ms-2"></div>
        </div>
       <div class="row py-4 w-100 container g-0  ">
        <div class="card col-md-4 p-3 rounded-3 col-12  p-0 position-relative">
            <img src="assets/imgs/poert1.png" class="w-100 rounded-3" alt="">
            <div class="overlayer  position-absolute rounded-3 top-0 bottom-0 end-0 start-0 m-3 d-flex justify-content-center align-items-center">
                <i class="fa-solid fa-plus text-white icon"></i>
            </div>
        </div>
        <div class="card col-md-4 p-3 rounded-3 col-12  p-0 position-relative">
            <img src="assets/imgs/port2.png" class="w-100 rounded-3" alt="">
            <div class="overlayer  position-absolute rounded-3 top-0 bottom-0 end-0 start-0 m-3 d-flex justify-content-center align-items-center">
                <i class="fa-solid fa-plus text-white icon"></i>
            </div>
        </div>
        <div class="card col-md-4 p-3 rounded-3 col-12  p-0 position-relative">
            <img src="assets/imgs/port3.png" class="w-100 rounded-3" alt="">
            <div class="overlayer  position-absolute rounded-3 top-0 bottom-0 end-0 start-0 m-3 d-flex justify-content-center align-items-center">
                <i class="fa-solid fa-plus text-white icon"></i>
            </div>
        </div>
        <div class="card col-md-4 p-3 rounded-3 col-12  p-0 position-relative">
            <img src="assets/imgs/poert1.png" class="w-100 rounded-3" alt="">
            <div class="overlayer  position-absolute rounded-3 top-0 bottom-0 end-0 start-0 m-3 d-flex justify-content-center align-items-center">
                <i class="fa-solid fa-plus text-white icon"></i>
            </div>
        </div>
        <div class="card col-md-4 p-3 rounded-3 col-12  p-0 position-relative">
            <img src="assets/imgs/port2.png" class="w-100 rounded-3" alt="">
            <div class="overlayer  position-absolute rounded-3 top-0 bottom-0 end-0 start-0 m-3 d-flex justify-content-center align-items-center">
                <i class="fa-solid fa-plus text-white icon"></i>
            </div>
        </div>
        <div class="card col-md-4 p-3 rounded-3 col-12  p-0 position-relative">
            <img src="assets/imgs/port3.png" class="w-100 rounded-3" alt="">
            <div class="overlayer  position-absolute rounded-3 top-0 bottom-0 end-0 start-0 m-3 d-flex justify-content-center align-items-center">
                <i class="fa-solid fa-plus text-white icon"></i>
            </div>
        </div>
       
       </div>
    </div>
</div>
