<div class="home p-5 d-flex justify-content-center align-items-center text-white ">
    <div class="text-center p-4 ">
        <img src="../assets/imgs/avataaars.svg" class="w-75" alt=""/>
        <h1 class="text-uppercase fw-bold py-3">
            Start framwork
        </h1>
        <div class="d-flex text-center justify-content-center align-items-center text-white">
            <div class="line me-2"></div>
            <div class="fa-solid fa-star"></div>
            <div class="line ms-2"></div>
        </div>
        <p class="py-3">Graphic Artist - Web Designer - Illustrator
        </p>
    </div>
</div>
