    <nav class=" p-4 navbar navbar-expand-lg position-fixed z-3 w-100  ">
        <div class="container">
          <a class="navbar-brand fw-bolder fs-1" routerLink="home">Start Framwork</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  ms-auto mb-2 mb-lg-0 fw-bold text-uppercase">
              <li class="nav-item">
                <a class="nav-link  text-center "  routerLink="about" routerLinkActive="active ">about</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-center " routerLink="portfolio"routerLinkActive="active ">portfolio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-center " routerLink="contact"routerLinkActive="active ">contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-center " routerLink="gallery"routerLinkActive="active ">gallery</a>
              </li>
        
       
            </ul>
      
          </div>
        </div>
      </nav>
    
